body {
    background-color: #e3dccf;
    font-family: 'Vremena Grotesk';
}

main {
    position: absolute;
    background-color: #d62019;
    width: 800px;
    height: 650px;
/*    margin: auto;*/
/*    left: 0;*/
/*    right: 0;*/
/*    top: 0;*/
/*    bottom: 0;*/
    box-shadow: 0px 0px 0px rgba(0,0,0,.0);
    transition-timing-function: ease;
    transition-duration: .3s;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transform-origin: center center;
}

/*
main:hover {
    background-color: #d62019;
    box-shadow: 4px 4px 15px rgba(0,0,0,.3);
    transform: scale(0.92);
    transition-duration: .3s;
    transition-timing-function: ease;
}
*/

h1 {
    font-size: 72px;
    margin: 0px 0;
    text-align: center;
    letter-spacing: .06em;
    font-weight: 400;
}

/*SVG KLEUREN*/

main div svg .cls-1 {
/*    fill: #e3dccf;*/
}

main:hover div svg .cls-1 {
/*    fill: #e3dccf;*/
}

/*SCHETSEN*/

main div.grid {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 20px 1fr;
    grid-column-gap: 60px;
}

.cijfer {
/*    position: absolute;*/
    width: 12px;
    left: 90px;
}

.schets {
/*    position: absolute;*/
    width: 130px;
    left: 130px;
}

.cijfer1 {
    top: 125px;
}

.cijfer2 {
    top: 266px;
}

.cijfer3 {
    top: 410px;
}

.cijfer4 {
    top: 564px;
}

.schets1 {
    top: 100px;
}

.schets3 {
    top: 250px;
}

.schets5 {
    top: 400px;
}

.schets7 {
    top: 528px;
}